@import "./base";

// Componentes //

@import "./components/footer";
@import "./components/header";

@import "./pages/index";
@import "./pages/contacto";
@import "./pages/empleos";
@import "./pages/locales";
@import "./pages/productos";

.logo-index {
  max-width: 120px;
}

@media (max-width: 600px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }
}