footer {
    background-color:$primary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

footer a {
    color: white
}
footer form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

footer form div {
    margin-bottom: 10px;
}