body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-container {
    list-style: none;
    display: flex;
    gap: 20px;
}
.empleos-img{
    max-width: 200px !important;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer form {
    margin-top: 20px;
}

footer form div {
    margin-top: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer nav a {
    color: #fff;
    text-decoration: none;
}






