header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-container {
    list-style: none;
    display: flex;
    gap: 20px;
}

.empleos-img {
    background-image: url(../../img/hombretrabajando.jpg);
    max-width: 100%;
    height: auto;
}
.portada-empleos{
    display: flex;
    justify-content: space-around;
    font-size: 35px;

}
.portada-texto{
    font-size: 25px;
    padding: 3rem;
}
.form-label{
    font-size: 25px;
    border: solid 1px;
    border-radius: 8px;
    padding: 1rem;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer form {
    margin-top: 20px;
}

footer form div {
    margin-top: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer nav a {
    color: #fff;
    text-decoration: none;
}

@media (max-width:474px) {
    .portada-empleos, .empleos-img , .portada-texto , .nav-container {
        display: flex;
        flex-direction: column;
        align-items: center;

}
    }
