main{
    background-color: $primary-color;
}
.logo-index {
    max-width: 120px;
}

.portada-index {
    background-image: url(../img/portada.jpg);
    height: 92vh;
    background-position: center;
    background-size: cover;
    border-radius: 45px;
}

.titulo-portada {
    text-align: center;
    color: $black-color;
    margin-bottom: 1rem;
}

.titulo-center{
    text-align: center;
    padding: 1rem;
}

.productos-index {
    background-color:$secondary-color;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 45px;
    margin-top:  20px;
    margin-bottom: 20px;
    overflow: hidden;
    width: 100%;
}

.productos-item-container {
    display: flex;
    flex-direction: column;
    align-self: center ;
    padding: 1rem;
    max-width: 220px;
}

.productos-index:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8)
}



.img-circle{
    max-width: 220px;
    border-radius: 50%;
}


.nav-container {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.footer-index {
    display: flex;
    align-items: center;
}

@media (max-width: 474px) {
    .productos-index, .footer-index, .nav-container {
        flex-direction: column;
        align-items: center;
    }
}