main{
    background-color: $primary-color;
}
.logo-index {
    max-width: 120px;
}

.portada-index {
    background-image: url(../img/portada.jpg);
    height: 92vh;
    background-position: center;
    background-size: cover;
    border-radius: 45px;
}

.titulo-portada {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}
.titulo-center{
    text-align: center;
    padding: 1rem;
    

}
.productos-index {
    background-color:$secondary-color;
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    overflow: auto;
    border-radius: 45px;
    margin-top:  20px;
    margin-bottom: 20px;
}

.productos-items-container {
    display: flex;
    flex-direction: column;
    align-self: center ;
    padding: 1rem;
}
.img-circle{
    border-radius: 50%;
}


.nav-container {
    align-items: center;
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.footer-index {
    display: flex;
}