.productos-items-container {
    display: flex;
    flex-direction: column;
    align-self: center ;
    padding: 1rem;
}
.img-circle{
    border-radius: 50%;
    max-width: 220px;
}
.titulo-productos{
    text-align: start;
    padding: 1rem;
}
.titulo-productos:hover{
    text-decoration: underline;
}
@media (max-width: 474px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}